<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homepage</title>
  <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
  <link rel="manifest" href="favicon/site.webmanifest">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="homestyle.css">
</head>
<body>
<div class="container">
  <div class="sidebar">
    <a class="logo-normal" href="#">CompeteSports</a>
    <div class="side-wrapper">
      <div class="side-title">MENU</div>
      <div class="side-menu">
        <a class="sidebar-link discover is-active" href="#">
          <i class="fa-solid fa-house"></i>
          Discover
        </a>
        <a class="sidebar-link trending" href="#">
          <i class="fa-solid fa-user"></i>
          Profile
        </a>
        <a class="sidebar-link" href="charity.html">
          <i class="fa-solid fa-hand-holding-heart"></i>
          Charity
        </a>
        <a class="sidebar-link" href="organizepage.html" >
          <i class="fas fa-plus-square"></i>
          Organize
        </a>
      </div>
    </div>
    <div class="side-wrapper">
      <div class="side-title">CATEGORY</div>
      <div class="side-menu">
        <a class="sidebar-link" href="#">
          <i class="fa-solid fa-trophy"></i>
          Competition
        </a>
        <a class="sidebar-link" href="#">
          <i class="fa-solid fa-people-group"></i>
          Community
        </a>
        <a class="sidebar-link" href="#">
          <i class="fa-solid fa-comment"></i>
          FAQ
        </a>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <div class="header">
      <div class="search-bar">
        <input type="text" placeholder="Search">
      </div>
      <div class="user-settings">
        <div class="user-name"><a href="index.html" class="logout">Log Out</a></div>
      </div>
    </div>
    <div class="main-container">
      <div class="main-header anim" style="--delay: 0s">Discover</div>
      <div class="main-blogs">
        <div class="main-blog anim" style="--delay: .1s">
          <div class="main-blog__title">Dart tournament Ghent</div>
          <div class="main-blog__orginazer">
            <div class="orginazer-detail">
              <div class="orginazer-name">OVP Bowl</div>
              <div class="orginazer-info">5/8 players <span class="seperate"></span>2 week(s) ago</div>
            </div>
          </div>
          <div class="main-blog__time">
            <a class="postbutton" href="post.html">info</a>
          </div>
        </div>
        <div class="main-blog anim" style="--delay: .2s">
          <div class="main-blog__title">Bowling tournament Antwerp</div>
          <div class="main-blog__orginazer tips">
            <div class="main-blog__time">5 Dec 20:00</div>
            <div class="orginazer-detail">
              <div class="orginazer-name">Bowling Stones</div>
              <div class="orginazer-info">9/12 players <span class="seperate"></span>1 week(s) ago</div>
            </div>
          </div>
        </div>
      </div>
      <div class="small-header anim" style="--delay: .3s">Nearby</div>
      <div class="posts">
        <div class="post anim" style="--delay: .4s">
          <div class="post-time">12 Dec 20:00</div>
          <div class="post-wrapper">
            <video muted="">
              <source src="" type="video/mp4">
            </video>
          </div>
          <div class="post-by">Test Test</div>
          <div class="post-name">filler</div>
          <div class="post-view">0/12 players<span class="seperate post-seperate"></span>1 week ago</div>
        </div>
        <div class="post anim" style="--delay: .5s">
          <div class="post-time">12 Dec 20:00</div>
          <div class="post-wrapper">
            <video muted="">
              <source src="" type="video/mp4">
            </video>
          </div>
          <div class="post-by offline">Test Test</div>
          <div class="post-name">Filler</div>
          <div class="post-view">0/12 players<span class="seperate post-seperate"></span>1 week ago</div>
        </div>
        <div class="post anim" style="--delay: .6s">
          <div class="post-time">12 Dec 20:00</div>
          <div class="post-wrapper">
            <video muted="">
              <source src="" type="video/mp4">
            </video>
          </div>
          <div class="post-by offline">Test Test</div>
          <div class="post-name">filler</div>
          <div class="post-view">0/12 players<span class="seperate post-seperate"></span>2 week ago</div>
        </div>
        <div class="post anim" style="--delay: .7s">
          <div class="post-time">12 Dec 20:00</div>
          <div class="post-wrapper">
            <video muted="">
              <source src="" type="video/mp4">
            </video>
          </div>
          <div class="post-by">Test Test</div>
          <div class="post-name">filler</div>
          <div class="post-view">0/12 players<span class="seperate post-seperate"></span>1 week ago</div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
</body>
</html>
