<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome</title>
  <link rel="stylesheet" href="../static/style.css" th:href="@{static/style.css}">
  <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
  <link rel="manifest" href="favicon/site.webmanifest">
</head>
<body>

<div class="nav-container">
  <div class="wrapper">
    <nav>
      <div class="logo">
        CompeteSports
      </div>

      <ul class="nav-items">
        <li>
          <a href="#">Discover</a>
        </li>

        <li>
          <a href="login.html">Login</a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<div class="header-container">
  <div class="wrapper-content">
    <header>
      <div class="hero-image">
        <img src="images/dart-player.png" alt="">
      </div>
      <div class="hero-content">
        <h1>Feel the Competition</h1>
        <p>
          Compete in your favorite sport
        </p>
        <a href="register.html">Join Now</a>
      </div>
    </header>
  </div>
</div>

<script src="main.js"></script>
</body>
</html>