<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Log in</title>
  <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
  <link rel="manifest" href="favicon/site.webmanifest">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="../static/styleregister.css">
</head>
<body>
<div class="container">
  <div class="forms-container">
    <div class="signin-signup">
      <form action="#" class="sign-up-form-player" th:action="@{/login}">
        <h2 class="title">Sign in</h2>
        <div class="input-field">
          <i class="fas fa-envelope"></i>
          <input type="email" id="emailID" placeholder="Email" />
        </div>
        <div class="input-field">
          <i class="fas fa-lock"></i>
          <input type="password" id="passwordID" placeholder="Password" />
        </div>
        <input type="submit" value="Sign In" class="btn solid" />
        <p class="login-text">Not registered?<a class="login-link" href="register.html"> Sign up</a></p>
        <a class="go-back" href="index.html">go back</a>
      </form>
    </div>
  </div>
</div>
</body>
</html>