<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homepage</title>
  <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
  <link rel="manifest" href="favicon/site.webmanifest">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="../static/homestyle.css">
</head>
<body>
<div class="container">
  <div class="sidebar">
    <a class="logo-normal" href="#">CompeteSports</a>
    <div class="side-wrapper">
      <div class="side-title">MENU</div>
      <div class="side-menu">
        <a class="sidebar-link discover" href="homepage.html">
          <i class="fa-solid fa-house"></i>
          Discover
        </a>
        <a class="sidebar-link trending" href="#">
          <i class="fa-solid fa-user"></i>
          Profile
        </a>
        <a class="sidebar-link" href="charity.html">
          <i class="fa-solid fa-hand-holding-heart"></i>
          Charity
        </a>
        <a class="sidebar-link organize is-active" href="organizepage.html" >
          <i class="fas fa-plus-square"></i>
          Organize
        </a>
      </div>
    </div>
    <div class="side-wrapper">
      <div class="side-title">CATEGORY</div>
      <div class="side-menu">
        <a class="sidebar-link" href="#">
          <i class="fa-solid fa-trophy"></i>
          Competation
        </a>
        <a class="sidebar-link" href="#">
          <i class="fa-solid fa-people-group"></i>
          Community
        </a>
        <a class="sidebar-link" href="#">
          <i class="fa-solid fa-comment"></i>
          FAQ
        </a>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <div class="header">
      <div class="search-bar">
        <input type="text" placeholder="Search">
      </div>
      <div class="user-settings">
        <div class="user-name"><a href="index.html" class="logout">Log Out</a></div>
      </div>
    </div>
    <div class="main-container">
      <div class="main-header anim" style="--delay: 0s">Competition</div>
      <div class="info-competition">
        <ul>
          <li>Clubname</li>
          <li>Location</li>
          <li>max Players</li>
          <li>Entry Fee</li>
          <li>Average rating club</li>
          <li>Total money raised to selected charity: </li>
        </ul>
        Rate your experience:
        <div class="rating">
          <input name="stars" id="e5" type="radio"></a><label for="e5">☆</label>
          <input name="stars" id="e4" type="radio"></a><label for="e4">☆</label>
          <input name="stars" id="e3" type="radio"></a><label for="e3">☆</label>
          <input name="stars" id="e2" type="radio"></a><label for="e2">☆</label>
          <input name="stars" id="e1" type="radio"></a><label for="e1">☆</label>
        </div>
        <input type="submit" value="Join" class="btn solid" />
      </div>
    </div>
  </div>
</body>
</html>
